:root {
    /* --background-color: #253054; */
    --primary-color: #d41e49;
    --secondary-color: #f6c919;
    --primary-font: "Chubbo", sans-serif;
    --headline-font: "Bevellier", sans-serif
}

/* body {
    background-color: var(--background-color);
} */

#app {
    font-family: "Chubbo", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    min-height: 100vh;
    padding-top: 80px;
    /* must be more than navbar height */
    padding-bottom: 100px;
    scroll-margin-top: 70px;
    /* so scrolling stops below navbar */
}

h1,
h2,
h3,
h4,
h5,
.card-header {
    font-family: var(--headline-font);
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.card {
    background-color: transparent;
}

/* card-body is using glass effect */
.card-body {
    background: transparent;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
    padding: 20px;
}

/* Nav section and sidenav section */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    /* specific height */
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.nav-items {
    font-family: var(--headline-font);
    letter-spacing: 2px;
    font-weight: bold;
    padding: 15px;
    margin: 0 5px;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--primary-color);

    &:hover,
    &:focus {
        color: var(--primary-color);
        border-color: var(--secondary-color);
    }

    &:active {
        transform: translateY(6px);
    }
}

.sidenav {
    padding: 0 10px;
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Override Styles */
#fv-dots {
    background-color: var(--primary-color);
    border-radius: 0;
    transition: all 0.5s ease;
    width: 11px;
    height: 11px;
    margin: 10px;

    &:focus,
    &:active {
        /* width: 11px;
        height: 11px; */
        transform: rotate(45deg);
        background-color: var(--secondary-color);
    }
}

/* button styles */
.btn-primary {
    margin: 0 5px;
    height: 3.5rem;
    /* border-radius: 5rem; */
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    /* border: 5px solid #fa9fc8; */

    &:hover {
        background-color: rgba(var(--primary-color));
        text-decoration: none;
        border: none;
        color: var(--primary-color);
    }

    &:active {
        transform: translateY(4px);
        background-color: transparent !important;
    }
}

.content {
    padding-top: 80px;
}

.home-background {
    background-image: url('/src/assets/img/sunset.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* min-height: 100vh; */
}